<header class="s-header">
  <div class="header__top">
      <div class="header__logo">
          <a class='site-logo' href='/'>
              <h1 class="my-logo">ABC Healthcare</h1>
          </a>
      </div>
      <!-- toggles -->
      <a href="#0" class="header__menu-toggle"><span>Menu</span></a>

  </div> <!-- end header__top -->

  <nav class="header__nav-wrap">

      <ul class="header__nav">
          <li><a href='/' title>Home</a></li>
          <li><a href="#0" title="">Categories</a></li>
          <li><a href='#' title>About</a></li>
          <li><a href='#' title>Contact</a></li>
      </ul> <!-- end header__nav -->
        </nav>
  <!-- end header__nav-wrap -->
</header>