<app-navbar></app-navbar>
<!---start masonry--->
<div class="s-content">
    <div class="masonry-wrap">
        <div class="masonry">
            <div class="grid-sizer"></div>
<!-- start card -->
<!-- start article -->
<article class="masonry__brick entry format-standard  ">
    <div class="entry__text">
        <div class="entry__header">
            <h2 class="entry__title"><a href="#">Product Category</a></h2>
            <div class="entry__meta">
            </div>
        </div>
    </div>
</article> 
<!-- end article -->
<!-- end card -->


<!-- start article -->

<article class="masonry__brick entry format-standard  ">
    <div class="entry__text">
        <div class="entry__header">
            <h2 class="entry__title"><a href="#">Product</a></h2>
            <div class="entry__meta">
            </div>
        </div>
    </div>
</article> 
 <!-- end masonry -->
<!-- end article -->
<!-- end card -->

<!-- start card -->
<!-- start article -->
<article class="masonry__brick entry format-standard  ">
    <div class="entry__text">
        <div class="entry__header">
            <h2 class="entry__title"><a href="#">Admin Users</a></h2>
            <div class="entry__meta">
            </div>
        </div>
    </div>
</article> 

<!-- end article -->
<!-- end card -->

<!-- start card -->
<!-- start article -->
<article class="masonry__brick entry format-standard  ">
    <div class="entry__text">
        <div class="entry__header">
            <h2 class="entry__title"><a href="#">Seller</a></h2>
            <div class="entry__meta">
            </div>
        </div>
    </div>
</article> 
<!-- end article -->
<!-- end card -->

<!-- start card -->
<!-- start article -->
<article class="masonry__brick entry format-standard  ">
    <div class="entry__text">
        <div class="entry__header">
            <h2 class="entry__title"><a href="#">Customer</a></h2>
            <div class="entry__meta">
            </div>
        </div>
    </div>
</article> 
<!-- end article -->
<!-- end card -->

<!-- start card -->
<!-- start article -->
<article class="masonry__brick entry format-standard  ">
    <div class="entry__text">
        <div class="entry__header">
            <h2 class="entry__title"><a href="#">Something Else</a></h2>
            <div class="entry__meta">
            </div>
        </div>
    </div>
</article> 
<!-- end article -->
<!-- end card -->
</div>
</div>
</div>
<!--end masonary-->